:root {
  --grey-blue-color: rgb(111, 160, 186);
  --greyish: rgb(168, 168, 168);
  --pinkishGrey: rgb(204, 204, 204);
  --white-two: rgb(248, 248, 248);
  --pure-white: rgb(255, 255, 255);
  --whiteThree: rgb(238, 238, 238);
  --white209: rgb(209, 209, 209);
  --white248: rgb(248, 248, 248);
  --rgb153: rgb(153, 153, 153);
}

.App {
  text-align: center;
  background-color: #e7e7e7;
  padding: 10px;
}

a {
  text-decoration: none;
}

.mg-tp-38 {
  margin-top: 38px;
}

.dir-rtl {
  direction: RTL;
}

.questionnaire-container {
  display: flex;
}
.disabled {
  display: none;
}

.leftPanel {
  background-color: #f8f8f8
}

.leftpanel-heading {
  min-height: 80px;
  line-height: 100px;
}

.leftpanel-heading-title {
  color: #a6a6a6;
}

.leftpanel-expand {
  width: 30%;
  flex: 1;
}

.leftpanel-collapse {
  width: 10%
}

.questionnaire-cell {
  border-bottom: solid 1px #e2e2e2;
  min-height: 50px;
  line-height: 50px;
  color: #6eabbd;
}

/* .questionnaire-short-form{
  
}

.questionnaire-full-form {
  
} */

.middle-panel {
  background-color: #ffffff;
  flex: 4;
}

.title-panel{
  color: #9f9f9f;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 15px;
  padding:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.done-button{
  background-color: #ea8561;
  border-color: #ed9c82;
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  width: 200px;
  border-radius: 3px;
}
.question-cell {
  color: #939393;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.question-cell-text {
  padding-left: 20px;
}

.question-cell-text:after {
  content:"......"
}
.question-button {
  height: 50px;
  border: #f1f1f1;
  background-color: #f8f8f8;
  color: #76a6bf;
  padding: 0px 20px;
  margin: 0px 5px;
}

.right-panel {
  min-width: 400px;
  background-color: #ffffff;
  padding: 10px;
  border: solid 1px #f8f8f8;
}

.widget-header {
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.header {
  color: #b1b1b1;
  font-size: 22px;
  /* text-align: left; */
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.sub-header{
  color: #b1b1b1;
  text-align: left;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 2px;
}

.unknown {
  font-size: 12px;
  border: solid var(--whiteThree) 1px;
  color: var(--grey-blue-color);
}

.widget-display {
  height: 45px;
  width: 60%;
  line-height: 45px;
  border: solid 1px var(--white209);
  background-color: var(--white248);
  margin-left: 20%;
}

.widget-display-text {
  border: none;
  width: 50px;
  font-size: 15px;
  background-color: var(--white248);
  color: var(--rgb153);
}

.widget-display-suffix, .widget-display-prefix {
  color: var(--rgb153);
}

.single-select-cell {
  display: flex;
  height: 50px;
  border-bottom: solid 1px #f1f1f1;
  line-height: 50px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  border-radius: 3px;
}

.single-select-left {
  flex: 5;
  color: #6eabbd;
  text-align: left;
  padding-left: 25px;
}

.single-select-right {
  flex: 1;
}

.single-select-radio-icon {
  width: 20px;
  height: 20px;
}

.segment {
  border-bottom: solid 1px var(--pinkishGrey);
  display: inline-block;
}

.normal-segment-tab {
  /* height: 50px; */
  /* border: solid 1px var(--pinkishGrey); */
  color:   var(--grey-blue-color);
  padding: 5px 5px;
  /* background-color: var(--white-two); */
  display: inherit;
  background-size: cover;
}

.normal-segment-tab.tab_selected {
  background-image: url('./static/img/tab_selected.png');
}

.normal-segment-tab.tab_unselected_center {
  background-image: url('./static/img/tab_unselected_center.png');
}

.normal-segment-tab.tab_unselected_left {
  background-image: url('./static/img/tab_unselected_left.png');
}

.normal-segment-tab.tab_unselected_right {
  background-image: url('./static/img/tab_unselected_right.png');
}

.normal-segment-tab.tab_unselected {
  background-image: url('./static/img/tab_unselected.png');
}

.normal-segment-tab-text {
  /* padding: 15px; */
  font-size: 12px;
}

.normal-segment-tab:hover {
  cursor: pointer;
}

.normal-segment-tab.active {
  color: var(--greyish) !important;
  /* background-color: var(--pure-white); */
}

.full-width {
  width: 100%;
}

.numpad {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  margin-top: 56px;
}

.numpad-row {
  display: flex;
  justify-content: center;
}

.clear-numpad-button {
  background-image: url('./static/img/keypad_clear_blue.png');
}